<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header', {variant:'compact'}); %>
        </header>
        <main>
            <!--
            <div class="jumbotron">
                <h2>Cute mascots</h2>
                <p><%= tagline %></p>
                <ul>
                    <% mascots.forEach(function(mascot) { %>
                        <li>
                            <strong><%= mascot.name %></strong>
                            representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                        </li>
                    <% }); %>
                </ul>
            </div>
            -->
            <div class="jumbotron map" id="map">
                
            </div>
            
            <div class="jumbotron">
                <p id="DevID">
                    e
                </p>
                <p id="name">
                    e
                </p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>

<script>

var bottomLeft = [0, 0];
var topRight = [4096, 4096];
var bounds = [bottomLeft, topRight];

var map = L.map('map', {
    crs: L.CRS.Simple,
    minZoom: -1.75,
    maxBounds: bounds,
    maxBoundsViscosity: 1.0
});

map.on('click', function (event) {
  var coords = event.latlng;
  L.popup()
  .setLatLng(coords)
  .setContent('[' + Math.floor(coords.lat) + ',' + Math.floor(coords.lng) + ']')
  .openOn(map);
}); 

var image = L.imageOverlay('https://img-cdn.fivemods.net/unsafe/filters:format(webp):quality(90):sharpen(1,0.3,true)/http://blog.damonpollard.com/wp-content/uploads/2013/09/GTAV_ATLUS_4096x4096.png', bounds).addTo(map);

map.fitBounds(bounds);

</script>

<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
var marker = new Array();

socket.on('result', function(result) {

    markerDelAgain();

    const json = JSON.parse(result);

    const DevID = document.getElementById('DevID');
    DevID.innerHTML = JSON.stringify(json);

    function markerAdd() {
        for(i=0;i<json.length;i++) {
            var userid = json[i]['id'];
            var username = json[i]['name'];
            var vehicle = json[i]['vehicle'];
            var Xcoord = json[i]['coords'][0];
            var Ycoord = json[i]['coords'][1];
            var Zcoord = json[i]['coords'][2];
            var heading = json[i]['heading'];
            
            if (vehicle != 0) {
                // do stuff
            }

            let usercoords = getPictureCoords(Xcoord, Ycoord);

            var LamMarker = new L.marker([usercoords[1], usercoords[0]]);
            marker.push(LamMarker);
            map.addLayer(marker[i]);

        }
    }

    function markerDelAgain() {
    for(i=0;i<marker.length;i++) {
        map.removeLayer(marker[i]);
        }  
    marker.length = 0;
    }
    
    markerAdd();

   
    function getPictureCoords(x, y) {
        const ZeroX = 1903;
        const ZeroY = 2690;
        const Scale = 3.037861303705727;
        var x = x/Scale;
        var y = y/Scale;
        trueX = ZeroX + x;
        trueY = ZeroY + y;
        return [Math.floor(trueX), Math.floor(trueY)];
    }

});

</script>